body
{
    background: linear-gradient(#665c5cf2,#7e7979c4);
    height: 100vh;
}

.header
{
    text-align: center;
    background: #9f9696;
}

.fig-container
{
    display: flex;
    margin-top: 55px;
    justify-content: space-around;
}

.fig-container .fig-container__item
{
    width: 400px;
    height: auto;
    border: solid 2px black;
    border-radius: 5px;
}


.fig-container header
{
    background: gray;
}

.fig-container__item header h2
{
    text-align: center;
}

.fig-container header i
{
    padding: 4px;
}

.fig-container__item form
{
    text-align: center;
}

.form-cuadrado .submit-perimetro
{
    margin-top: 15px;
}

.form-cuadrado .submit-perimetro
{
    margin-top: 15px;
}

.respuesta-cuadrado
{
    margin-top: 10px;
}

.submit-area-triangulo
{
    margin-top: 15px;
}

.respuesta-triangulo
{
    margin-top: 10px;
}

.submit-area-circulo
{
    margin-top: 15px;
}

.respuesta-circulo
{
    margin-top: 10px;
}