body
{
    font-family: sans-serif;
    height: 100vh;
    background:linear-gradient(#9e9e9e,#000000d9);
}

.main-header
{
    height: auto;
}

figure
{
    width: 135px;
    height: auto;
    padding: 5px;
    text-align: center;
}

.main-container
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main-container__form
{
    border: solid 2px black;
    border-radius: 20px;
    padding: 40px 50px;
    text-align: center;
}

.main-container__form span
{
    margin-top: 7px;
}

.main-container__form .descuento
{
    margin-top: 5px;
}

.main-container__form .enviar
{
    margin-top: 5px;
    margin-bottom: 5px;
    background: black;
    color: white;
}

.main-container__form .pago
{
    margin-top: 5px;
}